.navbar {
  
  .nav-item {
    list-style-type: none;
    display: inline-block;
    margin-left: 5rem;
    padding-bottom: 0.3rem;
  }

  .nav-link{
    color: white;
    text-decoration: none;
  }
}

$breakpoint-mobile: 600px;
@media (max-width: $breakpoint-mobile) { 
  .navbar{
    .nav{
      display:flex;
      flex-direction:column;
      .nav-item{
        margin-left:0;
      }
    }
  }
}